.reviews {
  margin: 97px auto 0 auto;
  max-width: 1440px;
  padding-left: 100px;
  &__wrapper {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 34px;
  }
  &__ratings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }
  &__rating {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(151, 151, 151, 0.2);
    border-radius: 4px;
    width: 287px;
    &-countent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 36px;
      width: 100%;
      padding: 23px 24px 20px 22px;
      border-right: 1px solid rgba(151, 151, 151, 0.2);
    }
    &-value {
      font-weight: 700;
      font-size: 11px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #278fb4;
      padding-left: 2px;
    }
    &-source {
      position: relative;
      margin-top: 12px;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(151, 151, 151, 0.2);
        left: 0;
        top: 46px;
      }
    }
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      color: rgba(0, 0, 0, 0.5);
      padding-left: 2px;
      a {
        position: relative;
        font-weight: 700;
        font-size: 14px;
        color: #278fb4;
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          background-color: #278fb4;
          left: 0;
          bottom: -2px;
        }
      }
    }
    &-stars {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 13.5px;
      max-width: 42px;
      padding: 16px 14px 16px 12px;
    }
  }
  &__slider {
    position: relative;
    width: 1019px;
    height: 291px;
    border-radius: 4px;
    background: #126893;
    .reviews__pagination {
      display: flex;
      gap: 40px;
      bottom: 36px;
      left: 367px;
    }
    .swiper-pagination-bullet {
      background-color: #278fb4;
      width: 11px;
      height: 11px;
      border: 1px solid #287792;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: #ffffff;
      width: 12px;
      height: 12px;
      border: none;
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
    }
  }
  &__buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    left: 32px;
    bottom: 32px;
  }
  &__fraction {
    position: absolute;
    top: 29px;
    left: 38px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ffffff;
    &-current {
      font-weight: 700;
      font-size: 28px;
      line-height: 100%;
      color: #fff;
    }
    &-sepparator,
    &-total {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &__button-next,
  &__button-prev {
    button {
      border: none;
      padding: 0;
      background-color: transparent;
    }
  }
  &__swiper {
    position: absolute;
    bottom: 84px;
    left: 99px;
    width: 982px;
    padding: 22px 0 0 23px;
  }
  &__slide {
    display: flex;
    flex-direction: column;
    gap: 26px;
    border-radius: 4px;
    width: 479px;
    height: 310px;
    background-color: #fff;
    padding: 24px 32px 28px 32px;
    clip-path: inset(-30px 0 0 -30px);
    box-shadow: 0 18px 26px 0 rgba(25, 78, 96, 0.33);

    &-top {
      display: flex;
      gap: 20px;
      padding-bottom: 24px;
      border-bottom: 1px solid rgba(151, 151, 151, 0.2);
    }
    &-location {
      margin-top: 11px;
      font-weight: 700;
      font-size: 11px;
      letter-spacing: 0.18em;
      text-transform: uppercase;
      color: #278fb4;
    }
    &-name {
      margin-top: 9px;
      font-weight: 700;
      font-size: 28px;
      line-height: 100%;
      color: #342f45;
      display: flex;
      align-items: center;
      gap: 11px;
      img {
        margin-top: 4px;
        width: 20px;
        height: 20px;
      }
    }
    &-position {
      margin-top: 14px;
      font-weight: 400;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
    }
    &-text {
      position: relative;
      margin-left: 63px;
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      color: rgba(0, 0, 0, 0.5);
      &::before {
        position: absolute;
        content: "";
        width: 32px;
        height: 25px;
        background: url("/src/icons/left-quote.svg");
        top: 5px;
        left: -63px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .reviews {
    padding-left: 50px;
    &__slider {
      .reviews__pagination {
        gap: 30px;
        bottom: 36px;
        left: 123px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .reviews {
    padding-left: 50px;
    &__wrapper {
      margin-top: 29px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 34px;
    }
    &__ratings {
      flex-direction: row;
      justify-content: center;
      gap: 50px;
      width: calc(100% - 50px);
    }
    &__slider {
      margin-top: 120px;
      .reviews__pagination {
        gap: 30px;
        bottom: 36px;
        left: 123px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .reviews {
    margin-top: 80px;
    padding: 0;
    &__title,
    &__subtitle {
      margin-left: 50px;
    }
    &__ratings {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 100%;
    }
    &__rating {
      width: 400px;
    }
    &__slider {
      margin-top: 100px;
      width: 100%;
      border-radius: 0%;
      .reviews__pagination {
        gap: 20px;
        bottom: 26px;
        left: 0;
        justify-content: center;
      }
    }
    &__swiper {
      position: static;
      transform: translateY(-80px);
      width: calc(100% - 100px);
      padding: 0;
      border-radius: 4px;
      box-shadow: 0 27px 58px 0 rgba(25, 78, 96, 0.33);
    }
    &__slide {
      clip-path: inset(-30px 0 0 -30px);
      box-shadow: none;
    }
    &__fraction {
      display: none;
    }
    &__buttons {
      display: none;
    }
  }
}

@media screen and (max-width: 576px) {
  .reviews {
    &__title,
    &__subtitle {
      margin-left: 15px;
    }
    &__ratings {
      margin: 0 15px 0 15px;
    }
    &__rating {
      width: 100%;
    }
    &__swiper {
      width: calc(100% - 30px);
    }
    &__slide {
      padding: 24px 22px 28px 22px;
      gap: 20px;
      &-img {
        display: none;
      }
      &-top {
        padding-bottom: 10px;
      }
      &-text {
        margin-left: 33px;
        &::before {
          position: absolute;
          content: "";
          width: 20px;
          height: 15px;
          background: url("/src/icons/left-quote.svg") center center / cover
            no-repeat;
          top: 5px;
          left: -33px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .reviews {
    &__slider {
      .reviews__pagination {
        gap: 10px;
        bottom: 26px;
        left: 0;
        justify-content: center;
      }
    }
    &__slide {
      &-text {
        margin-left: 0px;
        &::before {
          position: absolute;
          content: "";
          width: 20px;
          height: 15px;
          background: transparent;
          top: 5px;
          left: 0px;
        }
      }
    }
  }
}
