.menu-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  border-radius: 4px;
  width: 52px;
  height: 52px;
  margin: 24px;
  padding: 0;
  box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  span {
    width: 20px;
    height: 2px;
    border-radius: 50%;
    background-color: #444;
  }
  @media (hover: hover) {
    &:hover {
      background: rgba(255, 255, 255, 0.7);
    }
  }
}

.play-btn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__inner {
    position: relative;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  &__inner:active {
    transform: scale(0.9);
  }

  &__inner--blue::before,
  &__inner--white::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    width: 0;
    height: 0;
    border-left: 11px solid;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }
  &__inner--blue::before {
    border-left-color: #ffffff;
  }
  &__inner--white::before {
    border-left-color: #278fb4;
  }

  &__inner--svg::before,
  &__inner--arrow {
    display: none;
  }

  @keyframes pulse-blue {
    0% {
      box-shadow: 0 0 0 8px rgba(39, 143, 180, 0.5);
    }
    70% {
      box-shadow: 0 0 0 8px rgba(39, 143, 180, 0.1);
    }
    100% {
      box-shadow: 0 0 0 8px rgba(39, 143, 180, 0.5);
    }
  }
  @keyframes pulse-white {
    0% {
      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5);
    }
    70% {
      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
    }
    100% {
      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5);
    }
  }

  &__inner--blue {
    background: #278fb4;
    box-shadow: 0 0 0 8px rgba(39, 143, 180, 0.4);
    animation: pulse-blue 2s infinite ease-in-out;
  }
  @media (hover: hover) {
    &__inner--blue:hover {
      background: #1e7b99;
    }
  }
  &__inner--white {
    background: #fff;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.4);
    animation: pulse-white 2s infinite ease-in-out;
  }
  @media (hover: hover) {
    &__inner--white:hover,
    &__inner--arrow:hover {
      background: #f0f0f0;
    }
  }
  &__inner--svg {
    background: #278fb4;
    box-shadow: 0 0 0 8px rgba(39, 143, 180, 0.4);
    animation: pulse-blue 2s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (hover: hover) {
    &__inner--svg:hover {
      background: #1e7b99;
    }
  }
  &__inner--arrow {
    background: #fff;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__label {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 13px;
    pointer-events: none;
  }
}
